<meta charset="utf-8"/>
{% load static %}
{% block heading %}
    <title>Reporte MediPets</title>
{% endblock %}
{% block canvas %}
    <div style="background-image: url('{% static 'img/logoveterinaria.png' %}'); background-size: cover; border-radius: 20px; border-color: #002E45 !important; padding: 0 !important;">
        <img src="../static/img/logoveterinaria.png">
    </div>
    <div>
        <div id="company_logo" style="text-align: center">
            <h2>VETERINARIA AGUILAR</h2>
        </div>
        <table align="left" style="height: 135px; font-family: Times New Roman;">
            <td style="text-align:left;width:800px;font-size: 12px;padding-left: 23px;padding-top: 13px">
                <b>Propietario:</b> {{ data.propietario }}
                <br>
                <b>Tipo reporte:</b> {{ data.tiporeporte }}
                <br>
                <b>Fecha generación:</b> {{ data.fechaactual }}
            </td>
        </table>
        {% for mascota in data.mascotas %}
            <table align="left" style="height: 135px; font-family: Times New Roman;">
            <td style="text-align:left;width:800px;font-size: 12px;padding-left: 23px;padding-top: 13px">
                <b>Nombre:</b> {{ mascota }}
                <br>
                <b>Especie:</b> {{ mascota.raza.especie }}
                <br>
                <b>Raza:</b> {{ mascota.raza }}
                <br>
                <b>Color:</b> {{ mascota.color }}
            </td>
        </table>
            <table class="table mb-0 text-nowrap">
                <thead class="table-light">
                <tr>
                    <th class="border-0" style="width: 20%">Fecha</th>
                    <th class="border-0">Veterinario</th>
                    <th class="border-0">Motivo consulta</th>
                    <th class="border-0">Diagnóstico</th>
                </tr>
                </thead>
                <tbody>

                {% for historial in mascota.get_historialmedico %}
                    <tr>
                        <td class="align-middle border-bottom-0 " style="text-align: center">
                            {{ historial.fecha_consulta|default:' ' }}
                        </td>
                        <td class="align-middle border-bottom-0 " style="text-align: center">
                            {{ historial.veterinario|default:' ' }}
                        </td>
                        <td class="align-middle border-bottom-0 " style="text-align: center">
                            CONTROL MÉDICO
                        </td>
                        <td class="align-middle border-bottom-0 " style="text-align: center">
                            {{ historial.descripcion|default:' ' }}
                        </td>
                {% empty %}
                    <tr>
                        <td colspan="5" style="text-align: center">SIN REGISTROS</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endfor %}
    </div>
    <br/>
{% endblock %}