<meta charset="utf-8"/>
{% load static %}
{% block heading %}
    <title>Reporte MediPets</title>
{% endblock %}
{% block canvas %}
    <div style="background-image: url('{% static 'img/logoveterinaria.png' %}'); background-size: cover; border-radius: 20px; border-color: #002E45 !important; padding: 0 !important;">
        <img src="../static/img/logoveterinaria.png">
    </div>
    <div>
        <div id="company_logo" style="text-align: center">
            
        </div>
        <table align="left" style="height: 135px; font-family: Times New Roman;">
            <td style="text-align:left;width:800px;font-size: 12px;padding-left: 23px;padding-top: 13px">
                <b>Propietario:</b> {{ data.mascota.mascotapropietario.first }}
                <br>
                <b>Tipo reporte:</b> {{ data.tiporeporte }}
                <br>
                <b>Fecha generación:</b> {{ data.fechaactual }}
            </td>
        </table>

        </br>
    </div>
    <div class="contenedor-tabla" style="text-align: left;">
        <table class="table mb-0 text-nowrap">
            <thead class="table-light">
            <tr>
                <th class="border-0" style="width: 20%">Fecha</th>
                <th class="border-0">Veterinario</th>
                <th class="border-0">Motivo consulta</th>
                <th class="border-0">Diagnóstico</th>
            </tr>
            </thead>
            <tbody>
            {% for historial in data.historiales %}
                <tr>
                    <td class="align-middle border-bottom-0 " style="text-align: center">
                        {{ historial.fecha_consulta|default:' ' }}
                    </td>
                    <td class="align-middle border-bottom-0 " style="text-align: center">
                        {{ historial.veterinario|default:' ' }}
                    </td>
                    <td class="align-middle border-bottom-0 " style="text-align: center">
                        CONTROL MÉDICO
                    </td>
                    <td class="align-middle border-bottom-0 " style="text-align: center">
                        {{ historial.descripcion|default:' ' }}
                    </td>
                </tr>
                <tr>
                    <td> </td>
                </tr>
                <tr>
                    <td class="align-middle border-bottom-0 " style="text-align: center">
                        <b>Prescripción médica</b>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle border-bottom-0 " style="text-align: center">
                        <b>Medicamento</b>
                    </td>
                    <td class="align-middle border-bottom-0 " style="text-align: center">
                        <b>Dosis</b>
                    </td>
                    <td class="align-middle border-bottom-0 " style="text-align: center">
                        <b>Prescripción</b>
                    </td>
                </tr>
                {% for medicacion in historial.get_medicacion %}
                    <tr>
                        <td class="align-middle border-bottom-0 " style="text-align: center">
                            {{ medicacion.medicamento }}
                        </td>
                        <td class="align-middle border-bottom-0 " style="text-align: center">
                            {{ medicacion.dosis }}
                        </td>
                        <td class="align-middle border-bottom-0 " style="text-align: center">
                            {{ medicacion.prescripcion }}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="align-middle border-bottom-0 " style="text-align: center">
                            Sin registros
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5"><hr></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br/>
{% endblock %}