<meta charset="utf-8"/>
{% load static %}
{% block heading %}
    <title>VETERINARIA AGUILAR</title>
{% endblock %}
{% block canvas %}
    <div>
    </div>
    <div>
        <div id="company_logo" style="text-align: center">
            <h2>VETERINARIA AGUILAR</h2>
        </div>
        <table align="left" style="height: 135px; font-family: Times New Roman;">
            <td style="text-align:left;width:800px;font-size: 12px;padding-left: 23px;padding-top: 13px">
                <b>Tipo reporte:</b> {{ data.tiporeporte }}
                <br>
                <b>Fecha generación:</b> {{ data.fechaactual }}
            </td>
        </table>

        </br>
    </div>
    <div class="contenedor-tabla" style="text-align: left;">
        <table style="color: #1c3247; ;text-align: left;font-family: Roboto;">
            <thead>
            <tr>
                <th style="text-align: center">Nombre</th>
                <th style="text-align: center">Especie</th>
                <th style="text-align: center">Sexo</th>
                <th style="text-align: center">Raza</th>
                <th style="text-align: center">Color</th>
                <th style="text-align: center">Peso</th>
            </tr>
            <tbody>
            {% for mascota in data.mascotas %}
                <tr>
                    <td class="align-middle border-bottom-0 " style="text-align: center">{{ mascota.nombre }}</td>
                    <td class="align-middle border-bottom-0 " style="text-align: center">{{ mascota.especie }}</td>
                    <td class="align-middle border-bottom-0 " style="text-align: center">{{ mascota.sexo }}</td>
                    <td class="align-middle border-bottom-0 " style="text-align: center">{{ mascota.raza }}</td>
                    <td class="align-middle border-bottom-0 " style="text-align: center">{{ mascota.color }}</td>
                    <td class="align-middle border-bottom-0 " style="text-align: center">{{ mascota.peso }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </thead>
        </table>
    </div>
    <br/>
{% endblock %}