{% extends "app_form_base_generic.html" %}
{% block script_form %}
    {% if scriptCita %}
        <script>
            var fechaCitaInput = document.querySelector('input[name="fecha_cita"]');
            var horaCitaInput = document.querySelector('input[name="hora_cita"]');
            var errorContainer = document.createElement('div');
            errorContainer.style.color = 'red';
            fechaCitaInput.parentElement.appendChild(errorContainer);

            function validateFechaHora() {
                var now = new Date(); // Fecha y hora actuales

                // Obtener la fecha seleccionada del campo
                var fechaCitaValue = fechaCitaInput.value;

                if (!fechaCitaValue) {
                    errorContainer.textContent = 'Por favor selecciona una fecha válida.';
                    return false;
                }

                // Verificar si la fecha seleccionada es menor a hoy (sin horas)
                var selectedDate = new Date(fechaCitaValue + "T00:00"); // Agregar "T00:00" para evitar problemas de zona horaria
                var today = new Date(); // Fecha actual
                today.setHours(0, 0, 0, 0);
                if (selectedDate < today) {
                    errorContainer.textContent = 'La fecha no puede ser menor a la fecha actual.';
                    return false;
                } else {
                    errorContainer.textContent = '';
                }

                // Si la fecha seleccionada es hoy, validar la hora
                var selectedDatee = new Date(fechaCitaValue + "T00:00:00");
                var todayy = new Date(now.getFullYear(), now.getMonth(), now.getDate());
                if (selectedDatee.getTime() === todayy.getTime()) {
                    var horaCitaValue = horaCitaInput.value;
                    if (!horaCitaValue) {
                        errorContainer.textContent = 'Por favor selecciona una hora válida.';
                        return false;
                    }

                    var horaCita = horaCitaValue.split(':');
                    var selectedDateTime = new Date(fechaCitaValue + "T00:00");
                    selectedDateTime.setHours(horaCita[0], horaCita[1], 0, 0);

                    var tenMinutesLater = new Date(now.getTime() + 10 * 60 * 1000); // Ahora + 10 minutos

                    if (selectedDateTime < tenMinutesLater) {
                        errorContainer.textContent = 'La hora debe ser al menos 10 minutos después de la hora actual.';
                        return false;
                    }
                    var selectedHour = selectedDateTime.getHours(); // Extraer la hora

                    if (selectedHour < 8) {
                        errorContainer.textContent = 'El horario laboral es a partir de las 8:00 AM.';
                        return false;
                    }

                    if (selectedHour >= 17) {
                        errorContainer.textContent = 'El horario laboral finaliza a las 5:00 PM.';
                        return false;
                    }
                }

                // Si todo es válido
                errorContainer.textContent = '';
                return true;
            }

            fechaCitaInput.addEventListener('change', validateFechaHora);
            horaCitaInput.addEventListener('change', validateFechaHora);


        </script>
    {% endif %}
    {% if scriptFechaNacimiento %}
        <script>
            var fecha_nacimiento = document.querySelector('input[name="fecha_nacimiento"]');
            var errorContainer = document.createElement('div');
            errorContainer.id = 'errorContainer';
            errorContainer.style.color = 'red';
            fecha_nacimiento.parentElement.appendChild(errorContainer);

            function validateFechaNacimiento() {
                var now = new Date(); // Fecha y hora actuales
                var fecha_nacimientoValue = fecha_nacimiento.value; // Obtener el valor del campo de fecha
                var errorContainer = document.getElementById('errorContainer'); // Contenedor para mostrar errores


                if (!fecha_nacimientoValue) {
                    errorContainer.textContent = 'Por favor selecciona una fecha válida.';
                    return false;
                }

                // Convertir la fecha seleccionada a un objeto Date
                var fechaNacimiento = new Date(fecha_nacimientoValue + "T00:00:00");

                // Calcular la edad
                var edad = now.getFullYear() - fechaNacimiento.getFullYear();
                var mesDiferencia = now.getMonth() - fechaNacimiento.getMonth();
                var diaDiferencia = now.getDate() - fechaNacimiento.getDate();

                // Ajustar la edad si el cumpleaños aún no ha ocurrido este año
                if (mesDiferencia < 0 || (mesDiferencia === 0 && diaDiferencia < 0)) {
                    edad--;
                }
                // Validar si es menor de 18 años
                if (parseInt(edad) < 18) {
                    errorContainer.textContent = 'Eres menor de edad.';
                    return false;
                }

                // Si todo es válido
                errorContainer.textContent = '';
                return true;
            }

            fecha_nacimiento.addEventListener('change', validateFechaNacimiento);


        </script>
    {% endif %}

    {% if scriptPropietarioCita %}
        <script>
            $(document).ready(function () {
                var mascotaSelect = $('#id_mascota');
                var propietarioSelect = $('#id_propietario');
                if (mascotaSelect.length && propietarioSelect.length) {
                    $('#id_propietario').change(function () {
                        var propietarioId = $(this).val(); // Obtener el valor seleccionado
                        if (propietarioId) {
                            $.ajax({
                                url: "{% url 'veterinario:cargar_mascotas' %}", // Asegúrate que esta URL sea válida
                                type: "GET",
                                data: {
                                    'propietario_id': propietarioId
                                },
                                success: function (data) {
                                    // Limpiar y agregar la opción por defecto
                                    mascotaSelect.empty();
                                    mascotaSelect.append('<option value="">---------</option>');

                                    // Iterar sobre los resultados devueltos y añadirlos
                                    data.mascotas.forEach(function (mascota) {
                                        mascotaSelect.append('<option value="' + mascota.id + '">' + mascota.nombre + '</option>');
                                    });

                                    // Refrescar el componente visual de Bootstrap Select
                                    mascotaSelect.selectpicker('refresh');

                                    {% if idMascotaPre %}
                                        $('#id_mascota').val('{{ idMascotaPre }}').trigger('change')
                                        $('#id_mascota').selectpicker('refresh');
                                    {% endif %}
                                },
                                error: function () {
                                    // Manejar errores
                                    mascotaSelect.empty();
                                    mascotaSelect.append('<option value="">Error al cargar las mascotas</option>');
                                }
                            });
                        } else {
                            // Si no se seleccionó ninguna especie, restablecer el campo raza
                            mascotaSelect.empty();
                            mascotaSelect.append('<option value="">---------</option>');
                        }
                    });
                }
                {% if idPropietarioPre %}
                    var id_propietario = $('#id_propietario');
                    var id_mascota = $('#id_mascota');
                    if (id_mascota.length && id_propietario.length){
                        $('#id_propietario').val('{{ idPropietarioPre }}').trigger('change')
                        $('#id_propietario').selectpicker('refresh');
                        $('#id_mascota').val('{{ idMascotaPre }}').trigger('change')
                        $('#id_mascota').selectpicker('refresh');
                    }
                {% endif %}
            });
        </script>
    {% endif %}
{% endblock %}