{% csrf_token %}
<div class="row">
    {% for field in form %}
        <fieldset id="id_fs_{{ field.name }}" class="mb-3
                {% if field.field.widget.attrs.col %}{{ field.field.widget.attrs.col }}{% else %}col-md-12{% endif %}">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }} {% if  field.field.required %}
                <span class="text-danger">*</span>{% endif %} </label>
            {% if field.field.widget.input_type == 'checkbox' %}
                <div class="mb-2">
                    <div class="form-check form-switch"> {{ field }}</div>
                </div>
            {% else %}
                {{ field }}
                {% if field.errors %}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                {% endif %}

            {% endif %}
        </fieldset>
    {% endfor %}
    {% if form2 %}
        <h2>Adicional</h2>
    {% endif %}
    {% for field in form2 %}
        <fieldset id="id_fs_{{ field.name }}" class="mb-3
                {% if field.field.widget.attrs.col %}{{ field.field.widget.attrs.col }}{% else %}col-md-12{% endif %}">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }} {% if  field.field.required %}
                <span class="text-danger">*</span>{% endif %} </label>
            {% if field.field.widget.input_type == 'checkbox' %}
                <div class="mb-2">
                    <div class="form-check form-switch"> {{ field }}</div>
                </div>
            {% else %}
                {{ field }}
                {% if field.errors %}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                {% endif %}

            {% endif %}
        </fieldset>
    {% endfor %}
    {% if addtable %}
        <input type="hidden" id="mascotasData" name="mascotasData">
        <div class="table-responsive border-0 overflow-y-hidden" style="padding-bottom:40px">
            <a class="btn btn-success" onclick="abrirModalMascota()" style="width: 17%">Nueva mascota</a>
            <table class="table mb-0 text-nowrap">
                <thead class="table-light">
                <tr>
                    <th class="border-0">Nombre</th>
                    <th class="border-0">Sexo</th>
                    <th class="border-0">Raza</th>
                    <th class="border-0">Color</th>
                    <th class="border-0">Peso</th>
                    <th class="border-0"></th>
                </tr>
                </thead>
                <tbody id="detalletable">

                </tbody>
            </table>
        </div>
        <script>
    var mascotas = []; // Lista para almacenar las mascotas registradas

    document.getElementById('registrar').addEventListener('click', function() {
        let nombre = document.getElementById('id_nombre').value;
        let sexo = document.getElementById('id_sexo');
        let raza = document.getElementById('id_raza');
        let color = document.getElementById('id_color').value;
        let peso = document.getElementById('id_peso').value;

        // Obtener el texto de las opciones seleccionadas
        let sexoText = sexo.options[sexo.selectedIndex].text;
        let razaText = raza.options[raza.selectedIndex].text;

        // Agregar la mascota a la lista
        let mascota = {
            nombre: nombre,
            sexo: sexo.value,
            raza: raza.value,
            color: color,
            peso: peso
        };
        mascotas.push(mascota); // Añadir la mascota a la lista

        // Actualizar el campo oculto con la lista en formato JSON
        document.getElementById('mascotasData').value = JSON.stringify(mascotas);

        // Añadir la fila a la tabla
        let nuevaFila = `
            <tr>
                <td>${nombre}</td>
                <td>${sexoText}</td>
                <td>${razaText}</td>
                <td>${color}</td>
                <td>${peso}</td>
                <td><button class="btn btn-danger btn-sm" onclick="eliminarFila(this)">Eliminar</button></td>
            </tr>
        `;
        document.getElementById('detalletable').insertAdjacentHTML('beforeend', nuevaFila);

        // Limpiar los campos del formulario
        document.getElementById('id_nombre').value = '';
        especie.selectedIndex = 0;
        sexo.selectedIndex = 0;
        raza.selectedIndex = 0;
        document.getElementById('id_color').value = '';
        document.getElementById('id_peso').value = '';
    });

    // Función para eliminar fila de la tabla y de la lista
    window.eliminarFila = function(boton) {
        let fila = boton.closest('tr');
        let nombre = fila.cells[0].innerText;

        // Remover de la lista de mascotas
        mascotas = mascotas.filter(mascota => mascota.nombre !== nombre);

        // Actualizar el campo oculto con la nueva lista en formato JSON
        document.getElementById('mascotasData').value = JSON.stringify(mascotas);

        // Remover la fila de la tabla
        fila.remove();
    };
</script>
    {% endif %}

</div>

