{% extends "app_base_generic.html" %}
{% block head %}
    <script>
        function generar_reporte(action, id=0) {
            $.ajax({
                url: "/administrativo/reportes/",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    peticion: action,
                    id: id,
                },
                success: function (data) {
                    if (data.respuesta) {
                        window.open('/media/reportes/' + data.name, '_blank');
                    } else {
                        alert(data.mensaje);
                    }
                },
                error: function () {
                    $checkbox.prop('checked', estadoInicial);
                    toast_error("Error en la solicitud AJAX.");
                }
            });
        }
    </script>
{% endblock %}
{% block opciones %}
    <div class="col-xxl-10 col-xl-8 col-lg-6 col-md-12 col-12 mb-3 mb-lg-0">

    </div>
    <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-12 pe-lg-2">

    </div>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4 ">
                <!-- Card Header -->
                <div class="card-header border-bottom-0">
                    <!-- Form -->
                    <form class="d-flex align-items-center " id="id_filtro_form" method="GET"
                          action="{% url 'veterinario:listar_mascotas' %}">
                        <span class="position-absolute ps-3 search-icon"><i class="fe fe-search"></i></span>
                        <input type="search" name="search" class="form-control ps-6" value="{{ search|default:'' }}"
                               placeholder="Filtro de búsqueda"/>
                    </form>
                </div>
                <!-- Table -->
                <div class="table-responsive border-0 overflow-y-hidden">
                    <table class="table mb-0 text-nowrap">
                        <thead class="table-light">
                        <tr>
                            <th class="border-0">Nombre</th>
                            <th class="border-0">Propietario</th>
                            <th class="border-0">Especie</th>
                            <th class="border-0">Sexo</th>
                            <th class="border-0">Raza</th>
                            <th class="border-0">Color</th>
                            <th class="border-0">Fecha Nac.</th>
                            <th class="border-0">Peso</th>
                            <th class="border-0"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mascota in page_object %}
                            <tr>
                                <td class="align-middle border-bottom-0 ">
                                    <a class="text-inherit">
                                        <h5 class="mb-0 text-primary-hover">{{ mascota.nombre }}</h5>
                                    </a>
                                </td>
                                <td class="align-middle border-bottom-0 ">
                                    {{ mascota.get_propietario|default:'Sin propietario' }}
                                </td>
                                <td class="align-middle border-bottom-0 ">
                                    {{ mascota.raza.especie|default:'Sin especie' }}
                                </td>
                                <td class="align-middle border-bottom-0 ">
                                    {{ mascota.sexo|default:'Sin sexo' }}
                                </td>
                                <td class="align-middle border-bottom-0 ">
                                    {{ mascota.raza|default:'Sin raza' }}
                                </td>
                                <td class="align-middle border-bottom-0 ">
                                    {{ mascota.color|default:'Sin color' }}
                                </td>
                                <td class="align-middle border-bottom-0 ">
                                    {{ mascota.fechanacimiento|default:'Sin fecha' }}
                                </td>
                                <td class="align-middle border-bottom-0 ">
                                    {{ mascota.peso|default:'---' }}
                                </td>
                                <td class="text-muted align-middle border-bottom-0 ">
                                    <span class="dropdown dropstart">
                                        <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button"
                                           id="courseDropdown11"
                                           data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
                                          <i class="fe fe-settings"></i>
                                        </a>
                                        <span class="dropdown-menu" aria-labelledby="courseDropdown11">
                                        <span class="dropdown-header">Acciones</span>
                                            <a class="dropdown-item" href="{% url 'veterinario:listar_historialmascota' mascota.pk %}"><i
                                                    class="fe fe-eye dropdown-item-icon"></i>Ver historial medico</a>
                                            <a class="dropdown-item" href="{% url 'veterinario:listar_recetasmascota' mascota.pk %}"><i
                                                    class="fe fe-eye dropdown-item-icon"></i>Ver recetas médicas</a>
                                            <a class="dropdown-item" onclick="generar_reporte('descargarhistorial', '{{ mascota.id }}')" style="cursor: pointer">
                                                <i class="bi bi-file-pdf dropdown-item-icon"></i> Generar historial medico
                                            </a>
                                            <a class="dropdown-item" onclick="generar_reporte('generarhistorialreceta', '{{ mascota.id }}')" style="cursor: pointer">
                                                <i class="bi bi-file-pdf dropdown-item-icon"></i> Generar historial recetas
                                            </a>
                                            <a class="dropdown-item" onclick="generar_reporte('descargarcarnet', '{{ mascota.id }}')" style="cursor: pointer">
                                                <i class="bi bi-file-pdf dropdown-item-icon"></i> Generar carnet vacunación
                                            </a>
                                            <a class="dropdown-item" onclick="generar_reporte('generarhistorialdespara', '{{ mascota.id }}')" style="cursor: pointer">
                                                <i class="bi bi-file-pdf dropdown-item-icon"></i> Generar historial desparasitación
                                            </a>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'paginador.html' %}
            </div>

        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $('.actualizar_estado').on('change', function () {
            // Obtiene los valores de 'idp' y 'activado' del elemento checkbox
            var $checkbox = $(this);
            var estadoInicial = $(this).prop('checked') ? false : true;
            var idp = $(this).attr('idp');
            var activado = this.checked;
            var estado = activado ? "true" : "false";

            $.ajax({
                url: "",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    pk: idp,
                    estado: estado,
                },
                success: function (data) {
                    if (data.success) {
                        message_success_reload(data.message)
                    } else {
                        $checkbox.prop('checked', estadoInicial);
                        alert(data.message);
                    }
                },
                error: function () {
                    $checkbox.prop('checked', estadoInicial);
                    toast_error("Error en la solicitud AJAX.");
                }
            });
        });

    </script>
{% endblock %}
